.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85;
}

.card-body {
    padding: 0 25px;
}
.black_colour{
    color: rgb(255, 251, 251);
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.member-tabset {
    background-color: #000;
}